* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

.button {
  position: relative;
  width: 210px;
  height: 45px;
  font-size: 18px;
  background-color: #e61a62;
  color: white;
  border: none;
  cursor: pointer;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-height: 90px;
  border: 1px solid gray;
  background-color: white;
}

.title-container {
  min-height: 30px;
  background-color: lightgray;
  font-size: 16px;
  font-weight: normal;
  padding: 5px;
  margin-bottom: 5px;
}

.popup-text {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}

.hidden {
  display: none;
}
